<base href="/">
<app-root>
	<div id="loader">
		<img src="./typo3conf/ext/pits_downloadcenter/Resources/Public/Icons/ajax-loader.gif" alt="Loader-Image">
	</div>
</app-root>
<script type="text/javascript" src="./typo3conf/ext/pits_downloadcenter/Resources/Public/Scripts/angular/runtime.ec2944dd8b20ec099bf3.js"></script>
<script type="text/javascript" src="./typo3conf/ext/pits_downloadcenter/Resources/Public/Scripts/angular/polyfills.8dd612f791bcfe6fcdb2.js"></script>
<script type="text/javascript" src="./typo3conf/ext/pits_downloadcenter/Resources/Public/Scripts/angular/main.c209fccc6a5068920ad8.js"></script>