.files {background:url(files.png) no-repeat top left;background-position: 0 -460px;display: block;height: 18px;width: 18px;float: left;margin: 5px;}
.file-ai{ background-position: 0 0;  } 
.file-atom{ background-position: 0 -20px;  } 
.file-audio{ background-position: 0 -40px;  } 
.file-binary{ background-position: 0 -60px;  } 
.file-c{ background-position: 0 -80px;  } 
.file-cfc{ background-position: 0 -100px;  } 
.file-cfm{ background-position: 0 -120px;  } 
.file-chm{ background-position: 0 -140px;  } 
.file-class{ background-position: 0 -160px;  } 
.file-compressed{ background-position: 0 -180px;  } 
.file-conf{ background-position: 0 -200px;  } 
.file-cpp{ background-position: 0 -220px;  } 
.file-csharp{ background-position: 0 -240px;  } 
.file-css{ background-position: 0 -260px;  } 
.file-csv{ background-position: 0 -280px;  } 
.file-db{ background-position: 0 -300px;  } 
.file-deb{ background-position: 0 -320px;  } 
.file-eml{ background-position: 0 -340px;  } 
.file-eps{ background-position: 0 -360px;  } 
.file-flash{ background-position: 0 -380px;  } 
.file-header{ background-position: 0 -400px;  } 
.file-hlp{ background-position: 0 -420px;  } 
.file-html{ background-position: 0 -440px;  } 
.file-image{ background-position: 0 -460px;  } 
.file-jpeg{ background-position: 0 -460px;  } 
.file-jpg{ background-position: 0 -460px;  } 
.file-png{ background-position: 0 -460px;  } 
.file-iso{ background-position: 0 -480px;  } 
.file-java{ background-position: 0 -500px;  } 
.file-js{ background-position: 0 -520px;  } 
.file-link{ background-position: 0 -540px;  } 
.file-lua{ background-position: 0 -560px;  } 
.file-m{ background-position: 0 -580px;  } 
.file-mdb{ background-position: 0 -600px;  } 
.file-message{ background-position: 0 -620px;  } 
.file-misc{ background-position: 0 -640px;  } 
.file-mm{ background-position: 0 -660px;  } 
.file-mov{ background-position: 0 -680px;  } 
.file-odc{ background-position: 0 -700px;  } 
.file-odf{ background-position: 0 -720px;  } 
.file-odg{ background-position: 0 -740px;  } 
.file-odi{ background-position: 0 -760px;  } 
.file-odp{ background-position: 0 -780px;  } 
.file-ods{ background-position: 0 -800px;  } 
.file-odt{ background-position: 0 -820px;  } 
.file-pdf{ background-position: 0 -840px;  } 
.file-php{ background-position: 0 -860px;  } 
.file-pl{ background-position: 0 -880px;  } 
.file-ppt{ background-position: 0 -900px;  } 
.file-ps{ background-position: 0 -920px;  } 
.file-psd{ background-position: 0 -940px;  } 
.file-pub{ background-position: 0 -960px;  } 
.file-py{ background-position: 0 -980px;  } 
.file-rar{ background-position: 0 -1000px;  } 
.file-rb{ background-position: 0 -1020px;  } 
.file-rpm{ background-position: 0 -1040px;  } 
.file-rss{ background-position: 0 -1060px;  } 
.file-rtf{ background-position: 0 -1080px;  } 
.file-sig{ background-position: 0 -1100px;  } 
.file-sql{ background-position: 0 -1120px;  } 
.file-swf{ background-position: 0 -1140px;  } 
.file-sxc{ background-position: 0 -1160px;  } 
.file-sxd{ background-position: 0 -1180px;  } 
.file-sxi{ background-position: 0 -1200px;  } 
.file-sxw{ background-position: 0 -1220px;  } 
.file-tex{ background-position: 0 -1240px;  } 
.file-text{ background-position: 0 -1260px;  } 
.file-url{ background-position: 0 -1280px;  } 
.file-vcf{ background-position: 0 -1300px;  } 
.file-video{ background-position: 0 -1320px;  } 
.file-vsd{ background-position: 0 -1340px;  } 
.file-word{ background-position: 0 -1360px;  } 
.file-doc{ background-position: 0 -1360px;  } 
.file-docx{ background-position: 0 -1360px;  } 
.file-xhtml{ background-position: 0 -1380px;  } 
.file-xls{ background-position: 0 -1400px;  } 
.file-xlsx{ background-position: 0 -1400px;  } 
.file-xml{ background-position: 0 -1420px;  } 
.file-xpi{ background-position: 0 -1440px;  } 
