.filter43{
	padding: 15px;
	min-width:273px;
	position: relative
}
.filter43 #loader{
	position: absolute;
	top:300px;
	width: 45px;
	left:50%;
	margin-left:-37px;
}
.filter43 .fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.filter43 h1{
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.filter43 .row{
	margin-bottom:15px;
}
.filter43 .control-label{
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px; 
}
.filter43 .input-group{
	width: 100%;
	display: table;
}
.filter43 .form-control {
	width: 92%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.filter43 .input-group-addon {
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555555;
	text-align: center;
	border: 1px solid #cccccc;	
	float: left;
	height: 34px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 8%;
	max-width: 40px;
	margin: 0 0 20px 0;
	cursor:pointer;
	background: url(../Icons/clear.png) no-repeat center center;
}
.filter43 .input-group-addon i{
	color: #000000;
	font-size: 15px;
}
.filter43 .input-group-addon:hover i{
	color:#ff0000;
}

.cust-select{
	padding:0 0 20px 0;
	display: block;
}
.filter43 h3{
	font-size: 18px;
	font-weight: bold;
}
.filter43 table{
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #dddddd;
	border-bottom: none;
}
.filter43 tr:nth-child(even){
	background-color: #EBEBEB;
}
.filter43 th{
	padding:10px;
	text-align: center;
	border-bottom: 2px solid #dddddd;
}
.filter43 th a{
	text-decoration: none;
}
.filter43 td{
	text-align: center;
	border-top: 1px solid #dddddd;
	padding:10px;
	vertical-align: middle;
}
.filter43 .item-title{
	text-align: left;
}
.filter43 a{
	color:#333333;
}
.filter43 a:hover{
	color:#cc0000
}
.filter43 .download, .filter43 .item-image{
	text-align: center;
}
.filter43 .download a i{
	font-size:24px;
}
.filter43 .img-thumbnail{
	padding: 4px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
	max-height:45px;
}
.filter43 .results-count{
	padding:10px 0; 
}
.filter43 .pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}
.filter43 .pagination li{
  position: relative;
  float: left;  
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
  list-style-type: none;
}
.filter43 .pagination li.active{
	background-color: #428bca;
}
.filter43 .pagination a{
  padding: 6px 12px;
  display: block;
  line-height: 1.42857143;
  text-decoration: none;
  color: #428bca;
  outline: none;
}
.filter43 .pagination li.active a{
	color: #ffffff;
}
.filter43 .pagination li.disabled a{
	cursor: default;
	color:grey;
}
/*.filter43 .pagination a:hover,
.filter43 .pagination a:focus{
  color: #2a6496;
  border-color: #dddddd;
}*/

.filter43 table {
  margin: 1em 0;
  min-width: 300px;
}
.filter43 table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.filter43 table th {
  display: none;
}
.filter43 table td {
  display: block;
}
.filter43 table td:first-child {
  padding-top: .5em;
}
.filter43 table td:last-child {
  padding-bottom: .5em;
}
.filter43 table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.filter43 table th, .filter43 table td {
    text-align: left;
}
.filter43 .download a i{
  	color: #428bca;
}
.filter43 .download a:hover i{
  	color: #2a6496;
}
 @media (max-width: 767px) {
  .filter43 .download, .filter43 .item-image{
  	text-align: left;
  }
 }
@media (min-width: 767px) {
  .filter43 table td:before {
    display: none;
  }
  .filter43 table th, .filter43 table td {
    display: table-cell;
    padding: .25em .5em .5em;
  }
  .filter43 table th:first-child, .filter43 table td:first-child {
    padding-left: 0;
  }
  .filter43 table th:last-child, .filter43 table td:last-child {
    padding-right: 0;
  }
}
